@import '../../sass/main';

.custom-button {
    margin-left: 0;
    margin-top: 15px;
}

.graphs-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 5px;
}

.graph {
    padding: 10px;
    border: solid 2px #D7EEFA;
    flex-grow: 1;
    max-width: 560px;
    min-width: 560px;
    height: 420px;
    margin: 10px;
    flex: 1 1 auto;
}

.full-width-graph {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 335px;
}

.graph:hover {
    border: solid 2px #9CD5F3;
}

.graph-commands {
    border-bottom: 1px #d8e1e6 solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    color: $primary-color;
}

.graph-command {
    padding: 12px;
}

.graph-command:hover {
    background-color: #f1f1f8;
}
