@import '../../../sass/main';

.click-to-edit-wrapper{
    display: inline-block;
    width: 100%;
    vertical-align: middle;

    .hidden{
        visibility: hidden;
    }

    .disabled{
        color: $disabled-color;
    }

    .text{
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 1px;
        padding-left: 6px;
        padding-right: 6px;
        white-space: nowrap;
    }

    .hidden-text{
        font-style: italic;
    }
}